* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --color1:  black;
    --color2: rgb(17, 14, 14);
    --color3:  navy;
    --color4:  aliceblue;
    --color5:  rgb(13, 13, 34);
    --color6:  rgb(0, 0, 46);
    --color7:  rgb(0, 47, 255);
    --color8:  lightseagreen;
    --color9:  rgb(20, 135, 180);
    --color10:  rgb(65, 129, 129);
    --color11:  darkred;
    --color12:  rgb(97, 3, 3);
    --color13:  lightsalmon;
    --color14:  rgb(255, 52, 79);
    --color15:  rgb(4, 43, 4);
    --color16:  rgb(68, 187, 68);
    --color17:  rgb(3, 26, 1);
    --color18:  rgb(56, 27, 3);
    --color19:  rgb(190, 92, 0);
    --color20:  rgb(201, 97, 0);
    --color21: rgb(233, 214, 42);
    --color22: rgb(179, 207, 20);
    --color23:  rgb(63, 0, 92);
    --color24:  rgb(37, 1, 70);
    --color25:  rgb(143, 0, 209);
}

html {
    font-size: 10px;
    background-color: var(--color6);
}

body {
    font-size: 10px;
    font-family: 'Tilt Neon', cursive;
    display: block;
    color: var(--color4);
};