.categoria_n2 > h1 {
    font-size: 3rem;
    margin: 2rem 1rem;
}

.categoria_n3 > h1 {
    font-size: 3rem;
    margin: 2rem 1rem;
}

.categoria_n4 > h1 {
    font-size: 3rem;
    margin: 2rem 1rem;
}

.categoria_n4 > p {
    font-size: 1.5rem;
    margin: 2rem 1rem;
}

.categoria_n5 > h1 {
    font-size: 3rem;
    margin: 2rem 1rem;
}

.categoria_n6 > h1 {
    font-size: 3rem;
    margin: 2rem 1rem;
}


.categoria_n7 > h1 {
    font-size: 3rem;
    margin: 2rem 1rem;
}
