.categoria_n2 > h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
}

.categoria_n2 > ol {
    margin: 1rem 3rem;
    font-size: 17px;
    color: var(--color9);

}

.categoria_n3 > h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
}

.categoria_n3 > ol {
    margin: 1rem 3rem;
    font-size: 17px;
    color: var(--color11);

}

.categoria_n4 > h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
}

.categoria_n4 > ol {
    margin: 1rem 3rem;
    font-size: 17px;
    color: var(--color9);

}

.categoria_n5 > h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
}

.categoria_n5 > ol {
    margin: 1rem 3rem;
    font-size: 17px;
    color: var(--color11);

}

.categoria_n6 > h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
}

.categoria_n6 > ol {
    margin: 1rem 3rem;
    font-size: 17px;
    color: var(--color9);

}

.categoria_n7 > h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
}

.categoria_n7 > ol {
    margin: 1rem 3rem;
    font-size: 17px;
    color: var(--color11);

};