.titulo > h1 {
    font-size: 3rem;
    text-align: center;
    margin: 5rem 2rem;
}

.categoria_n1 > h1 {
    font-size: 2rem;
    margin: 2rem 1rem;
}


.ejem1 > h2 {
    margin: 1rem 3rem;
    font-size: 2rem;
    color: var(--color11);
    display: flex;
};


.ejem1 > a {
    margin: 5rem 3rem;

}

a > img {
    margin: 1rem 3rem;
    height: 7rem;
    border: 5px solid black;
    border-radius: 4px;
}

.ejem2 > h2 {
    margin: 1rem 3rem;
    font-size: 2rem;
    color: var(--color8);
    display: flex;
};


.ejem2 > a {
    margin: 5rem 3rem;

}

a > img {
    margin: 1rem 3rem;
    height: 7rem;
    border: 5px solid black;
    border-radius: 4px;
}

.ejem3 > h2 {
    margin: 1rem 3rem;
    font-size: 2rem;
    color: var(--color7);
    display: flex;
};


.ejem3 > a {
    margin: 5rem 3rem;

}

a > img {
    margin: 1rem 3rem;
    height: 7rem;
    border: 5px solid black;
    border-radius: 4px;
}

.ejem4 > h2 {
    margin: 1rem 3rem;
    font-size: 2rem;
    color: var(--color13);
    display: flex;
};


.ejem4 > a {
    margin: 5rem 3rem;

}

a > img {
    margin: 1rem 3rem;
    height: 7rem;
    border: 5px solid black;
    border-radius: 4px;
}